@import "./include-media.scss";

.about-title {

    width: 85vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;





}



.about-section {
    width: 80vw;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    align-items: center;



    .about-content {


        color: black;



        @include media(">=phone", "<lgphone") {
            width: 50px;
        }

        @include media(">=lgphone", "<tablet") {
            width: 100%;
        }

        @include media(">=tablet", "<desktop") {
            width: 100%;
        }

        @include media(">=desktop", "<smdesktop") {
            width: 50%;
        }

        @include media(">=smdesktop", "<mddesktop") {
            width: 50%;

        }

        @include media(">=mddesktop", "<=lgdesktop") {
            width: 50%;

        }

        //   @include media(">=lgdesktop", "<4k") {
        //     font-size: 185px;
        //   }




    }














}





.line {

    color: #000;
    background-color:
        #000;
    height: 1px;
    border: none;
    max-width: 100%;
    margin-bottom: 50px;


    @include media(">=phone", "<lgphone") {
        width: 50px;
    }

    @include media(">=lgphone", "<tablet") {
        width: 100%;
    }

    @include media(">=tablet", "<desktop") {
        width: 100%;
    }

    @include media(">=desktop", "<smdesktop") {
        width: 50%;
    }

    @include media(">=smdesktop", "<mddesktop") {
        width: 50%;
    }

    @include media(">=mddesktop", "<=lgdesktop") {
        width: 50%;
    }


}




.image-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    // justify-content: flex-start;







    @include media(">=phone", "<lgphone") {
        width: 50px;
    }

    @include media(">=lgphone", "<tablet") {
        width: 100%;
    }

    @include media(">=tablet", "<desktop") {
        width: 100%;
    }

    @include media(">=desktop", "<smdesktop") {
        width: 50%;
    }

    @include media(">=smdesktop", "<mddesktop") {
        width: 50%;
    }

    @include media(">=mddesktop", "<=lgdesktop") {
        width: 50%;
    }

    //   @include media(">=lgdesktop", "<4k") {
    //     font-size: 185px;
    //   }






}