#about {
  background-color: #fff;
}

.about__container {
  padding: 100px 25px 150px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  align-items: center;
}

.about-info__bio {
  color: #363b3d;
  margin-bottom: 30px;
  font-size: 18px;
}

.profile-image__wrapper {
  margin-bottom: 30px;
}

.profile-image {
  width: 100%;
  filter: brightness(1.2) contrast(1);
}

.about-info__bio {
  margin-bottom: 30px;
}

.about-info {
  margin-bottom: 30px;
}

.fa-ul {
  color: #363b3d;
  margin-left: 1.5em;
}

.fa-ul > li {
  color: #363b3d;
  margin-bottom: 15px;
}

.about-info__buttons {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .about__image {
    width: 350px;
    justify-self: center;
  }

  .about__container {
    margin: 0px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 90px;
    grid-row-gap: 0px;
  }
}

@media only screen and (min-width: 1440px) {
  .about__container {
    margin: 0px 50px;
  }

  .about__container {
    align-self: center;
  }
}
