
@import "./include-media.scss";

.about-title {

    width: 85vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;



    

}



.about-section{
width: 50vw;




}