@import "./include-media.scss";



.about-wrapper {
    width: 85vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 95px;


    h2 {

        align-self: end;
    }



    .about-heading {

        margin-top: 60px;

    }


    .contact-wrapper {
        width: 85vw;

        align-items: center;
        padding-top: 70px;
        padding-bottom: 95px;
        display: flex;
        justify-content: space-between;

        @include media(">=phone", "<lgphone") {
            flex-direction: column;
            align-items: center;
        }

        @include media(">=lgphone", "<tablet") {
            flex-direction: column;
            align-items: center;
        }

        @include media(">=tablet", "<desktop") {
            align-items: center;
        }




        .image-content {

            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            // margin-right: 50px;
            margin-bottom: 40px;

            @include media(">=phone", "<tablet") {
                width: 100%;
            }



            @include media(">=tablet", "<=lgdesktop") {
                width: 50%;
            }

        }



        .contact-info {

            @include media(">=phone", "<tablet") {
                width: 100%;
            }



            @include media(">=tablet", "<=lgdesktop") {
                width: 50%;
            }

        }


    }

}

.links {

    justify-content: center;

    display: grid;



    .button {

        margin-bottom: 10px;

    }

    .fa-ul {

        line-height: 30px;
        margin-bottom: 30px;
    }

}











button {

    text-decoration: none;
    padding: 10px;
    font-family: "Fluro";

    transition: all 0.5s ease-in-out;

    background-color: #FFFEF6;
    outline: black;
    border: 1px;
    cursor: pointer;
    color: black;
    border-style: solid;
    border-color: black;

    &:hover {
        opacity: 1;
        background-color: black;
        color: #FFFEF6;
    }
}



.button {
    text-decoration: none;
    padding: 10px;
    font-family: "Fluro";
    // opacity: 0.6;
    transition: all 0.5s ease-in-out;
    // font-size: 16px;
    background-color: #FFFEF6;
    outline: black;
    border: 1px;
    cursor: pointer;
    color: black;
    border-style: solid;
    border-color: black;
    text-align: center;

    &:hover {
        opacity: 1;
        background-color: black;
        color: #FFFEF6;
    }
}