#contact {
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3)
    ),
    url('https://res.cloudinary.com/dzrk9qfvp/image/upload/v1641423723/PORTFOLIO/chicago-train-rail.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact__container {
  padding: 50px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.contact__title {
  color: #f6f5f4;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 35px;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 800px) {
  .contact__container {
    margin: 0px 50px;
    padding: 100px 25px;
    justify-content: center;
  }

  .contact__title {
    font-size: 35px;
  }
}
