footer {
  min-height: 180px;
  overflow: hidden;
  background-color: black;
}

.links__wrapper {
  width: 90vw;
  display: grid;
  margin-top: 35px;
  grid-template-rows: 1fr 1fr;
}

.links__icons {
  margin-bottom: 10px;
}

.links__icons > a {
  margin-right: 10px;
}

.footer__copyright {
  color: white;
  font-size: 12px;
}
