footer {

    min-height: 250px;
    overflow: hidden;
    background-color: black;
}

.links-footer {


    width: 85vw;
}



.links-wrapper {


    display: flex;
    justify-content: space-between;

    margin-top: 20px;

    .icons {

        align-self: center;

    }






    a {}


}

h3 {

    color: #FFFEF6;
    font-family: "fluro light";
    font-size: 16px;
}


.line {

    color: white;
    background-color:
        white;
    height: 1px;
    border: none;
    width: 80%;
}





.upwards-arrow {

    // margin-right: 20px;

    transform: rotate(180deg);

}
