footer {

    min-height: 150px;
    overflow: hidden;
    background-color: black;
}




.links-wrapper {


    width: 85vw;
    display: flex;
    justify-content: space-between;

    margin-top: 35px;

    .icons {

        align-self: center;


a{

    margin-right: 10px;
}

    }

    .upwards-arrow {

    
        transform: rotate(180deg);
    
    }
    





}







