footer {
    width: 100vw;
    min-height: 100px;
    overflow: hidden;
    background-color: black;
}

.links-footer {


    width: 85vw;
}



.links-wrapper {


    display: flex;
    justify-content: flex-end;


    img {

        margin-right: 20px;

    }
}
