footer {
  min-height: 180px;
  overflow: hidden;
  background-color: black;
}

.links__wrapper {
  width: 85vw;
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
}

.links__icons {
  align-self: center;
}

.links__icons > a {
  margin-right: 10px;
}
