footer {
  overflow: hidden;
  background-color: #272016;
  align-items: center;
  padding: 75px 0px 20px;
}

.link__wrapper {
  color: #F6F5F4;
  flex-direction: column;
  display: flex;
  gap: 10px;
  padding: 0px 25px;
  margin-bottom: 70px;
}

.link {
  color: #F6F5F4;
  font-size: 18px;
  text-decoration: none;
}

.footer__copyright {
  color: #F6F5F4;
  font-size: 12px;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .link__wrapper {
    margin-left: 50px;
  }
}
