@import "./include-media.scss";
$bg: black;
$text-color: #FFFEF6;
$caret-color:#FFFEF6;
$text-length: 11;
$animation-time: 1.5s;



header {






    @include media(">=phone", "<lgphone") {
        height: 750px;
    }

    @include media(">=lgphone", "<tablet") {
        height: 800px;
    }

    @include media(">=tablet", "<desktop") {
        height: 800px;
    }

    @include media(">=desktop", "<smdesktop") {
        height: 800px;
    }

    @include media(">=smdesktop", "<mddesktop") {
        height: 800px;
    }

    @include media(">=mddesktop", "<=lgdesktop") {
        height: 850px;
    }


    .container {
        justify-content: normal;
    }


}








.header-wrapper {

    width: 85vw;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    .downward-arrow {
        cursor: pointer;
        margin-top: 30px;
    }



    h1 {


        color: #FFFEF6;

        @include media(">=phone", "<lgphone") {
            font-size: 50px;
        }

        @include media(">=lgphone", "<tablet") {
            font-size: 55px;
        }

        @include media(">=tablet", "<desktop") {
            font-size: 75px;
        }

        @include media(">=desktop", "<smdesktop") {
            font-size: 95px;
        }

        @include media(">=smdesktop", "<mddesktop") {
            font-size: 120px;
        }

        @include media(">=mddesktop", "<=lgdesktop") {
            font-size: 120px;
        }


    }



    p {

        height: 100%;
        font-size: 18px;
        line-height: 1.25;
        padding: 0;
        font-family: fluro;
        color: #FFFEF6;



        @include media(">=phone", "<lgphone") {
            font-size: 16px;
            width: 225px;

        }

        @include media(">=lgphone", "<tablet") {
            font-size: 18px;
            width: 325px;
        }

        @include media(">=tablet", "<desktop") {
            font-size: 20px;
            width: 350px;
        }

        @include media(">=desktop", "<smdesktop") {
            font-size: 24px;
            width: 425px;
        }

        @include media(">=smdesktop", "<mddesktop") {
            font-size: 24px;
            width: 425px;
        }

        @include media(">=mddesktop", "<=lgdesktop") {
            font-size: 24px;
            width: 425px;
        }






    }

}







// Typing style
// .typing {
//     position: relative;

//     &::after {
//         content: "|";
//         position: absolute;
//         right: 0;
//         width: 100%;
//         color: $caret-color;
//         background: $bg;
//         animation: typing $animation-time steps($text-length) forwards,
//             caret 1s infinite;
//     }
// }

// // Animation
// @keyframes typing {
//     to {
//         width: 0
//     }
// }

// @keyframes caret {
//     50% {
//         color: transparent
//     }
// }
