nav {
    width: 100vw;
    height: auto;

    .navbar-wrapper {
        width: 85vw;
        margin-top: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
           
            color: white;
        }

        .link-wrapper {
            button {
                text-decoration: none;
                padding: 12px;
                font-family: "Fluro";
                opacity: 0.6;
                transition: all 0.2s ease-in-out;
                background-color: transparent;
                outline: none;
                border: 0px;
                cursor: pointer;
                color: #FFFEF6;

                &:hover {
                    opacity: 1;
                }
            }

            .active {
                color: white;
            }
        }



    }

}
