nav {
  display: flex;
  align-items: center;
  background-color: #272016;
  top: 0;
  z-index: 999;
  height: 75px;
  width: 100%;
  transition: all 0.8s ease;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  top: 0;
  z-index: 999;
  width: 100%;
}

.nav--active {
  transition: all 0.8s ease;
  background-color: rgb(36, 34, 34);
}

.navbar__logo {
  color: #f6f5f4;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

.navbar__icon {
  cursor: pointer;
  color: #f6f5f4;
  font-size: 20px;
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 40px;
  height: 100vh;
  position: absolute;
  top: 75px;
  left: -100%;
  width: 100%;
  padding-top: 50px;

  transition: all 0.6s ease;
  background-color: #272016;
}

.navbar__menu.active {
  left: 0;
  opacity: 1;
  transition: all 0.6s ease;
  z-index: 1;
  align-items: center;
}

.navbar__link {
  color: #f6f5f4;
  font-size: 25px;
  display: flex;
  text-align: center;
  display: table;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .navbar__container {
    padding: 0px 50px;
  }

  .navbar__icon {
    display: none;
  }

  .navbar__menu {
    flex-direction: row;
    height: unset;
    position: unset;
    left: unset;
    width: unset;
    padding: 0px;
    background: transparent;
  }

  .navbar__link {
    font-size: 16px;
  }
}
