.card__grid-item {
  display: grid;
  gap: 20px;
  height: fit-content;
}

.card__image {
  width: 100%;

  object-fit: cover;
}

.card__title {
  color: #1f1f1f;
  font-weight: bold;
}

.card__line {
  color: 1px solid #1f1f1f;
}

.card__description {
  color: #1f1f1f;
}
