@import "./include-media.scss";


#projects{
    padding-top: 95px;
    padding-bottom:75px;



}


.projects-title {

    width: 85vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


   

}


.project-content{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
 
    margin-top: 35px;

  }


  .projects-section{

    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

   
  }