#projects {
  background-color: #fff;
}

.projects__container {
  padding: 100px 25px;
  display: flex;
  flex-direction: column;
  width: auto;

  align-items: center;
}

.projects__title {
  color: #1f1f1f;
  font-size: 25px;
  margin-bottom: 80px;
  font-weight: bold;
}

.projects__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 90px;
}

@media only screen and (min-width: 768px) {
  .projects__container {
    margin: 0px 50px;
    padding: 75px 25px;
  }

  .projects__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1440px) {
  .projects {
    margin: 0px 100px;
  }
}
