@import "./include-media.scss";


#projects{
    padding-top: 95px;
    padding-bottom:75px;



}


.projects-title {

    width: 85vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


   

}