@import "./include-media.scss";




.projects-title {

  width: 85vw;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;




}







.work-wrapper {

  width: 85vw;

  padding-top: 70px;
  padding-bottom: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 10vh;
  .grid {

    display: grid;
    margin-top: 70px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;


  
  //   div:nth-of-type(even) {
  //     grid-column: 2;
  // }


    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }

    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr ;
    }

    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr ;
    }

    @include media(">=desktop", "<smdesktop") {
      grid-template-columns: 1fr 1fr;
    }

    @include media(">=smdesktop", "<mddesktop") {
      grid-template-columns: 1fr 1fr;

    }

    @include media(">=mddesktop", "<=lgdesktop") {
      grid-template-columns: 1fr 1fr;

    }





  }
}
