#skills {
  background-color: #7a8060;
}

.skills__wrapper {
  display: flex;
  flex-direction: column;
  padding: 100px 0px;
  align-items: center;
  justify-content: center;
  margin: 0px 25px;
}

.skills__list {
  text-align: center;
  color: #f6f5f4;
  padding: 0px 35px;
  max-width: 750px;
}

.skills__title {
  font-weight: bold;
  font-size: 35px;
  color: #f6f5f4;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .skills__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
