@import "./include-media.scss";


#skills {

    background-color: #BFCCB8;

}

.skills-wrapper {

    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: revert;
    // align-items: center;
  

    .skills-title {
        text-align: center;
        align-self: center;
        @include media(">=phone", "<lgphone") {
            width: 100%;
        }

        @include media(">=lgphone", "<tablet") {
            width: 40%;
        }

        @include media(">=tablet", "<desktop") {
            width: 50%;
        }

        @include media(">=desktop", "<smdesktop") {
            width: 40%;
        }

        @include media(">=smdesktop", "<mddesktop") {
            width: 40%;

        }

        @include media(">=mddesktop", "<=lgdesktop") {
            width: 40%;

        }
        h2 {

            font-family: fluro bold outline;
            font-size: 50px;

        }
    }


    .skills-list {
        text-align: center;
        align-self: center;

        @include media(">=phone", "<lgphone") {
            width: 100%;
        }

        @include media(">=lgphone", "<tablet") {
            width: 60%;
        }

        @include media(">=tablet", "<desktop") {
            width: 50%;
        }

        @include media(">=desktop", "<smdesktop") {
            width: 60%;
        }

        @include media(">=smdesktop", "<mddesktop") {
            width: 60%;

        }

        @include media(">=mddesktop", "<=lgdesktop") {
            width: 60%;

        }



p{
    font-size: 18px;
}

    }



}
