.up-arrow {
  --delay: 0.15s;
  --colour: #f3cb2b;
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid var(--colour);
  box-sizing: border-box;
  transform: rotate(-90deg);
  transition: all 0.5s ease;
}

.up-arrow::before,
.up-arrow::after {
  content: '';
  position: absolute;
  display: block;
  box-sizing: border-box;
  transition: all var(--delay) ease-in-out;
}

/* The arrow body */
.up-arrow::before {
  width: 0%;
  height: 3px;
  left: -50px;
  top: 50%;

  background: var(--colour);
  transform: translate(0, -50%);
}

/* The arrow head */
.up-arrow::after {
  width: 20px;
  height: 20px;
  left: 21px;
  top: 50%;

  border: 3px solid var(--colour);
  border-left: 0;
  border-bottom: 0;
  transform: translate(50%, -50%) rotate(45deg);
}

.up-arrow:hover {
  cursor: pointer;
  border-color: transparent;
  transition: all var(--delay) ease;
}
.up-arrow:hover::before {
  opacity: 1;
  left: -5px;
  width: calc(100% + 5px);
}
.up-arrow:hover::after {
  width: 30px;
  height: 30px;
  left: calc(100px - 46px / 2);
  transform: translate(-50%, -50%) rotate(45deg);
}
