@import "./styles/include-media.scss";


* {
    font-family: "Fluro";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #000;
}

section {
    background-color: #FFFEF6;
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {

    @include media(">=phone", "<smdesktop") {
        font-size: 16px;
    }

    @include media(">=smdesktop", "<mddesktop") {
        font-size: 18px;
    }

    @include media(">=mddesktop", "<=lgdesktop") {
        font-size: 20px;
    }
}
