@import './styles/include-media.scss';

* {
  font-family: 'Fluro';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #000;
}

section {
  background-color: #fffef6;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  margin-bottom: 20px;
  text-align: left;

  @include media('>=phone', '<lgphone') {
    font-size: 50px;
  }

  @include media('>=lgphone', '<mddesktop') {
    font-size: 50px;
  }

  @include media('>=tablet', '<desktop') {
    font-size: 75px;
  }

  @include media('>=desktop', '<smdesktop') {
    font-size: 75px;
  }

  @include media('>=smdesktop', '<=lgdesktop') {
    font-size: 100px;
  }
}


h2 {
  align-self: end;
}



button {
  @include media('>=phone', '<smdesktop') {
    font-size: 16px;
  }

  @include media('>=smdesktop', '<mddesktop') {
    font-size: 18px;
  }

  @include media('>=mddesktop', '<=lgdesktop') {
    font-size: 18px;
  }
}
